body{margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height:1.6;
}

header {width: 100%;
}

.slider {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.slides img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
}

.overlay-text h1 {
    font-size: 3rem;
}

.overlay-text p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .slider {
        height: 45vh;
    }

    .overlay-text h1 {
        font-size: 2rem;
    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #0b3c5d;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}


.nav-links li {margin: 0 15px;
}

.nav-links a {color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover{color:black;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.menu-icon {display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background:#0b3c5d;
        flex-direction: column;   
        width: 200px;
        text-align: center;
        display: none;            
        margin: 0;               
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {margin: 15px 0;
    }

    .menu-icon {display: block;
    }

    .nav-links.active {display: flex;
    }
}

section{display:flex;flex-wrap:wrap;justify-content:center;padding:20px;}

article{background:#ccc;
margin:15px;
text-align:justify;
padding:20px;
border:2pxsolid#ddd;
border-radius:10px;
box-shadow:02px5pxrgba(0,0,0,0.1);
flex:1130px;
max-width:480px;
transition:transform0.3sease;}

article:hover{transform:scale(1.02);border-color:#f39c12;}

article h2{color:#f39c12;margin-bottom:10px;position:relative;text-align:Center;}

article h2::before{content:"★";color:#f39c12;}

article h2::after{content:"★";color:#f39c12;}

article p{line-height:2;
font-family:Arial;
text-align:justify;
}

form{margin-top:15px;}

formlabel{display:block;
margin-top:10px;
font-weight:bold;}

forminput,formbutton{padding:10px;
width:100%;
margin-top:5px;
border:1pxsolid#ccc;
border-radius:5px;}

input:focus{border-color:#f39c12;
outline:none;
box-shadow:005pxrgba(243,156,18,0.5);}

button{background:#f39c12;
color:#fff;
border:none;
cursor:pointer;
font-size:16px;
font-weight:bold;
transition:background0.3sease,transform0.2sease;}

button:hover{background:#d35400;
   transform:translateY(-2px);
}

footer{background:#333;
  color:#fff;
  text-align:center;
  padding:15px;
  border-top:5pxsolid#f39c12;
  margin-top:20px;

}

